:root {
  --bluAll: #00A6C8;
  --purple: #140034;
  --white: #FFFADE;
  --purple-3: #B0A8B9;
}


#dashboard {
  margin-top: 1rem;
  display: block;
  min-height: 74vh;
}

h2 {
  color: var(--purple);
  text-align: center;
  font-size: 30px;
}

.card img {
  margin: auto;
  height: 290px;
  width: 70%;
  padding: 30px;
}

.card-wrapper {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper h2 {
  margin: auto;
}

.title,
.salary {
  font-size: 21px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 23%;
  height: 600px;
  margin: 25px auto;
  background: rgb(12, 130, 158);
  background: radial-gradient(circle, rgba(12, 130, 158, 1) 0%, rgba(25, 0, 57, 1) 65%);
  /* border-radius: 5px;
  border: 2px ridge rgb(210, 208, 208);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24); */
  border-radius: 50px;
  color: var(--purple-3);
  box-shadow: 20px 20px rgba(0, 0, 0, .15);
  transition: all .4s ease;
  margin-bottom: 7rem;
}

.card:hover {
  border-radius: 0% 0% 5% 5% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, .25);
}

.details-btn {
  display: block;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  border: none;
  background-color: var(--purple-3);
  color: var(--purple);
  font-size: 18px;
  margin: 1rem;
  outline: none;
  cursor: pointer;

  transition: .3s linear;
  text-align: center;
  padding-top: 1rem;
  text-decoration: none;
  font-weight: bold;

}

.details-btn:hover {
  transform: rotateX(15deg);
  color: var(--blue);
  box-shadow: 0 0 10px 1px var(--blu);
}

.card p {
  min-width: 90% !important;
  width: 70%;
  margin: auto;
  padding: 5px;
  font-size: 20px;
  max-height: 50px;
  max-width: 30%;
  text-align: center;
  color: var(--purple-3);

}

.card p strong {
  float: left;

}

.card p span {
  float: right;
  width: 50%;
  font-family: 'Times New Roman', serif;
  text-align: right;
}

.card span {
  padding: 10px;
  margin: auto;
}