:root {
  --purple: #140034;
  --white: #FFFADE;
  --purple-2: #A579F3;
  --purple-3: #B0A8B9;
  --blu: #00A6C8;
}

#details-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(12,130,158);
background: radial-gradient(circle, rgba(12,130,158,1) 0%, rgba(25,0,57,1) 100%);
  margin: 50px auto;
  min-height: 460px;
  max-width: 45%;
  border: 2px ridge rgb(210, 208, 208);
  border-radius: 20px;
  box-shadow: 10px 10px rgba(0, 0, 0, .15);
}

#img-wrapper {
  max-width: 35%;
}

#img-wrapper img {
  width: 100%;
  min-height: 250px;
  display: block;
}

#details-title {
  text-align: center;
  font-weight: bold;
  font-size: 29px;
  width: 100%;
  color: var(--purple-3);
}

#info-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin-left: 70px;
  height: 250px;
  margin-bottom: 3rem;
}

#info-wrapper>p {
  width: 90%;
  margin: 25px 0px 0px 0px;
  height: auto;
  text-align: center;
  font-weight: bold;
  color: var(--purple-3);
}

#info-wrapper>p>strong {
  float: left;
}

#info-wrapper>p>span {
  float: right;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 19px;
}

span {
  font-size: 17px;
}


#action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 25px;
}

#action-buttons a {
  text-decoration: none;
  margin: auto 50px;
  font-size: 21px;
  width: 130px;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  background-color: var(--purple-3);
  color: var(--purple);
  transition: all 300ms ease-in-out;
}

#action-buttons a:hover {
  transform: rotateX(15deg);
  box-shadow: 0 0 15px 1px var(--blu);
  color: var(--purple-2);
}