:root {
  --purple: #140034;
  --white: #FFFADE;
  --purple-2:#ADC5CF;
  --purple-3: #B0A8B9;
  --blu: #0C829E;
}

.material-symbols-outlined
{display: none;
  background-color: #ADC5CF;
}

header {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3em;
  background: var(--purple);
  box-shadow: 0 5px 5px var(--purple);
  width: 80vw;


}

nav {
  background-color: var(--purple);
   display: flex;
  justify-content: space-between;
  color: var(--purple);
}

nav a {

  font-size: 1.5rem;
  color: var(--purple-2);
  font-weight: bold;
}

header a {
    
  text-transform: uppercase;
  padding: 1rem 20px;
  text-decoration: none;
  text-decoration-line: var(--purple-3);
  color: var(--purple-2);
  transition: all 300ms ease-in-out;
}

header a:hover {
  text-shadow: 1px 1px 1px var(--blu), 0 0 1em var(--blu), 0 0 0.2em var(--white);
  
}

footer {
  background-color: var(--purple);
  color: var(--purple-3);
  font-weight: bolder;
  text-align: center;
  padding: .5rem 0rem 3rem 0rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30px;
  box-shadow: 0 -5px 5px var(--purple);
}

@media only screen and (max-width: 960px) {

  nav
  {
     position: absolute;
     left: 0;
     top: 4.1rem;
     width: 98.9vw; 
     height: 40vh;
     z-index: 7;
     transition: all 300ms ease-in-out;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
  }


  
 nav {
     display: flex;
     flex-direction: column;
     height: 100%;
  }
 .active
  {  
      top: -100rem;
    }

      nav div
      {
        display: inline;
      }

  .material-symbols-outlined
  {
      
     display:block;
  }

  .opened
  {position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: #000000;
     z-index: 3;
     opacity: 0.2;
    
  }
nav {

     background-color:red;
 
    
  }
  
}